body, html {
	font-family:'Overpass', sans-serif;
	top:0;
	left:0;
	margin:0;
	padding:0;
	overflow-x:hidden;
}
/*audio player*/
audio::-webkit-media-controls-panel{
background-color:transparent;
}

audio::-webkit-media-controls-mute-button{

}

audio::-webkit-media-controls-play-button{
}

audio::-webkit-media-controls-timeline-container{

}

audio::-webkit-media-controls-current-time-display{

}

audio::-webkit-media-controls-time-remaining-display{

}

audio::-webkit-media-controls-timeline{

}

audio::-webkit-media-controls-volume-slider-container{

}

audio::-webkit-media-controls-volume-slider{

}

audio::-webkit-media-controls-seek-back-button{

}

audio::-webkit-media-controls-seek-forward-button{

}

audio::-webkit-media-controls-fullscreen-button{

}

audio::-webkit-media-controls-rewind-button{

}

audio::-webkit-media-controls-return-to-realtime-button{

}

audio::-webkit-media-controls-toggle-closed-captions-button{

}
/*app*/
.page {
	display:block;
	width:100%;
	height:fit-content;
	overflow-x:scroll;
	z-index:100;
	transform-origin:0 0;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y:hidden;
	-webkit-overflow-scrolling: touch;
	transition:all 0.25s ease-in-out;
}
.page-holder {
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:fit-content;
	cursor:pointer;
	transition:all 0.25s ease-in-out;
}
.page-holder img {
	height:100%;
	width:auto;
}
.overlay {
	position:absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	border-radius:0.5em 0.5em 0em 0em;
	background-color: black;
	z-index:99;
	background-blend-mode: multiply;
	transition:all 0.5s ease-in-out;
}
/*.page-holder:hover .overlay {
	opacity:0.5;
}*/
header {
	position:fixed;
	top:0;
	width:100%;
	box-shadow: 0.05em 0.05em 1em #666666;
	z-index:100;
	background-color:#F2F2F2;
	padding:1% 0%;
	height:fit-content;
	text-align:center;
	border-radius:0em 0em 1em 1em;
}
audio {
	width:80%;
	padding:2% 0% 0% 0%;
	margin:0%;
}
audio:focus {
	outline:0;
}
header .filters {
	margin-left:-5%;
}

/*Perspective Filter*/
#perspective-filter {
	padding:1% 3%;
	font-size:0.9em;
	margin:auto;
	border:0.05em solid #CCCCCC;
	border-radius:0% 0% 0% 30%;
	position:absolute;
	top:0;
	right:0;
	margin:auto;
	background-color:#169FFF;
	cursor:pointer;
	transition:0.25s all ease-in-out;
}
#perspective-filter i {
	color:white;
	vertical-align:text-bottom;
}
#perspective-filter:hover {
	box-shadow: -0.2em 0.1em 0.5em #CCCCCC;
}
.people-filters {
    position: absolute;
    width: fit-content;
    right: 2%;
    z-index: 100;
    background-color: white;
    box-shadow: -0em 0em 0.8em #CCCCCC;
    text-align: center;
    padding: 5%;
    margin:  3% 1%;
    border-radius: 1em;
    overflow:hidden;
    display:none;

}
.people-filters .filters {
	display:block;
	font-family:'Heebo', sans-serif;
	margin-left:-1%;
	animation:0.5s fadeUp ease-in-out;
}
.people-filters h1 {
	font-weight:400;
	letter-spacing:0.05em;
	font-size:0.8em;
	color:#666666;
}
@keyframes fadeUp {
	0% {
		height:0%;
	}
	100%{
		height:100%;
	}
}
option {
	width:fit-content;
	font-size:0.8em;
	padding: 1% 10%;
	transition:0.1s all ease-in-out;
	cursor:pointer;
}
option:hover {
	background-color:black;
	color:white;
}
.view {
	position:relative;
	right:0;
	width:100%;
	background-color:white;
	height:74vh;
	overflow-y:scroll;
	z-index:3;
	box-shadow:-0.05em -0.05em 1em #666666;
	border-radius:1em 1em 0em 0em;
}
#reactions, #reactions2, #reactions3 {
	width:100%;
	height:100%;
}
#reactions {
	display:inline-block;
/*	padding-bottom:70vh;*/
}
#reactions .item {
	position:relative;
	display:inline-block;
	width:29%;
	padding:2%;
	font-size:0.8em;
	vertical-align: top;
}
.new {
	animation: 0.5s fadeUp ease-in-out;
}
.item h3 {
	font-family:'Heebo', sans-serif;
	font-weight:400;
	letter-spacing:0.05em;
	font-size:0.8em;
	color:#666666;
	margin:0%;
}
.item p {
	font-weight:700;
	padding:5%;
	background-color:white;
	color:#666666;
	border-radius:0.5em;
	box-shadow:0em 0em 0.5em #CCCCCC;
	line-height:1.5em;
}
input {
	display:none;
}
#start-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	animation:0.5s fadeIn ease-in-out;
}
#start-message h1 {
	margin-top:-10%;
}
#reactions2 h2, #reactions3 h2 {
	margin-top:15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	animation:0.5s fadeIn ease-in-out;
}
.button {
	border: 0.05em solid black;
  	padding:1% 5%;
  	border-radius:2em;
  	cursor:pointer;
  	transition:0.25s all ease-in-out;

}
#reactions3 a {
	display:block;
	text-align:center;
	color:black;
	text-decoration-style:normal;
}
.button:hover {
	border: 0.05em solid #169FFF;
	background-color:#169FFF;
	box-shadow: 0em 0em 0.5em #CCCCCC;
	color:white;
}
.option {
	display:inline-block;
	width:fit-content;
	border:0.05em solid black;
	margin:-0.2%;
	padding:1% 5%;
}
.perspective {
	position:absolute;
	width:100%;
	text-align:center;
	left:0;
	bottom:0;
	z-index:3;
	-webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)), linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
	-webkit-mask-size: 100% 100%;
	background-color:white;
}
.perspective .option {
	padding:1% 0%;
	margin:0%;
	border:none;
	cursor:pointer;
	transition:0.5s all ease-in-out;
}
.circle-button {
	width:fit-content;
	border-radius:50%;
	background-color:#F2F2F2;
	width:2em;
	height:2em;
	border:0.05em solid #CCCCCC;
	padding:10%;
	padding-top: 12%;
	margin:auto;
	transition:0.5s all ease-in-out;
}
.label {
	font-size:0.5em;
	margin:10%;
	text-align:center;
}
.perspective .option:hover {
	transform-origin: 50% 50%;
	transform:scale(1.2);
}
::-webkit-scrollbar {
  display:none;
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
::-webkit-scrollbar-track{
    display:none;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    display:none;
    background-color: transparent;
}
@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadeUp {
	0% {
		opacity:0;
		margin-top:5%;
	}
	100% {
		opacity:1;
		margin-top:0%;
	}
}
.filters {
	width:40%;
	margin:auto;
	display:inline-block;
}
.filters > .option {
	margin:0.5%;
	font-size:0.5em;
	padding:1% 3%;
	border:none;
	border-radius:3em;
	cursor:pointer;
}

/*reaction items*/
.endorsements{
	position:absolute;
	right:0;
	width:30%;

}
.social {
	display:inline-block;
	margin-right:10%;
	margin-bottom:2%;
}
em {
	font-style:normal;
}
.social .material-icons {
	font-size:1em;
	color:#666666;
	cursor:pointer;
}
.disagree {
	transform:rotate(360deg);
	color:#CCCCCC;
}
.tag {
	font-family:'Futura', sans-serif;
	font-size:0.8em;
	display:inline-block;	
	margin:1% 3%;
	padding:2% 4%;
	color:#666666;
	border-radius:2em;
}
div[value=pos]{
	background-color:#FCC388;

}
div[value=neg]{
	background-color:#B6B5C9;
	color:white;

}
.tooltip {
	position:absolute;
	display:none;
	color:#666666;
	font-weight:400;
	font-size:0.8em;
	background-color:white;
	padding:1%;
	box-shadow:0em 0em 0.5em #666666;
	border-radius:0.5em;
	z-index:4;
}
/*spatial*/
#hall {
	width:100%;
	margin:auto;
	text-align:center;
	vertical-align:middle;
	padding: 5% 0%;
}
.person {
	cursor:pointer;
	background-color:#CCCCCC;
	transition:1s ease-in-out;
}
.posFade{
	animation: posFade ease-in-out;
	animation-duration:10s;
	animation-iteration-count: 2;
	background-color:#CCCCCC!important;
}
.negFade{
	animation: negFade ease-in-out;
	animation-duration:10s;
	animation-iteration-count: 2;
	background-color:#CCCCCC!important;
}
.mixedFade{
	animation: mixedFade ease-in-out;
	animation-duration:10s;
	animation-iteration-count: 2;
	background-color:#CCCCCC!important;
}
@keyframes posFade{
	0% {
		transform-origin: 50% 50%;
		transform:scale(1.2);
		background-color:#FCC388;
	}
	25% {
		transform:scale(0.8);
	}
	50% {
		transform:scale(1.2);
	}
	75% {
		transform:scale(0.8);
	}
	100% {
		transform:scale(1);
		background-color:#CCCC;
	}
}
@keyframes negFade {
	0% {
		transform-origin: 50% 50%;
		transform:scale(1.2);
		background-color:#B6B5C9;
	}
	25% {
		transform:scale(0.8);
	}
	50% {
		transform:scale(1.2);
	}
	75% {
		transform:scale(0.8);
	}
	100% {
		transform:scale(1);
		background-color:#CCCC;
	}

}
@keyframes mixedFade {
	0% {
		transform-origin: 50% 50%;
		transform:scale(1.2);
		background-color:#7FCDEE;
	}
	25% {
		transform:scale(0.8);
	}
	50% {
		transform:scale(1.2);
	}
	75% {
		transform:scale(0.8);
	}
	100% {
		transform:scale(1);
		background-color:#CCCC;
	}

}
.performers {
	width:20%;
	margin:auto;
}
.performer {
	width:2.5em;
	height:2.5em;
	border-radius:50%;
	display:inline-block;
	margin:2% 5%;
}
.audience {
	width:30%;
	margin:auto;
}
.member {
	width:2em;
	height:2em;
	background-color:#CCCCCC;
	display:inline-block;
	margin:2%;
}
.backups {
	width:20%;
	margin:auto;
}
.backup {
	width:1.5em;
	height:1.5em;
	background-color:#CCCCCC;
	transform-origin: 50% 50%;
	transform:rotate(45deg);
	display:inline-block;
	margin:3%;
}
@media screen and (max-width:767px){
	#reactions .item {
		display:block;
		width:90%;
		margin:auto;
	}
	#hall {
		padding: 10% 0%;
	}
	.audience {
		width:50%;
	}
}