body, html {
	font-family:'Overpass', sans-serif;
	top:0;
	left:0;
	margin:0;
	padding:0;
	overflow-x:hidden;
}
/*audio player*/
.player {
	position:relative;
	width:50%;
	margin:auto;
	margin-top:0%;
	height:fit-content;
	overflow:hidden;
	font-size:0.8em;
}
.album-art {
	width:10%;
}
.song-details {
	width:20%;
	display:inline-block;
	vertical-align:top;
}
.song-title {
	display:inline-block;
}
.song-artist {
	display:inline-block;
}
.time-container {
	width:50%;
	position:relative;
	margin:auto;
	text-align:center;
}
.current-time {
	position:absolute;
	display:inline-block;
	left:0;

}
.duration {
	position:absolute;
	display:inline-block;
	right:0;
}
div.control-container {
  text-align: center;
  margin-top: 40px; }
  div.control-container div.amplitude-prev {
    width: 28px;
    height: 24px;
    cursor: pointer;
    background: url("../img/previous.svg");
    display: inline-block;
    vertical-align: middle; }
  div.control-container div.amplitude-play-pause {
    width: 40px;
    height: 44px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle; }
    div.control-container div.amplitude-play-pause.amplitude-paused {
      background: url("../img/play.svg"); }
    div.control-container div.amplitude-play-pause.amplitude-playing {
      background: url("../img/pause.svg"); }
  div.control-container div.amplitude-next {
    width: 28px;
    height: 24px;
    cursor: pointer;
    background: url("../img/next.svg");
    display: inline-block;
    vertical-align: middle; }

/*app*/
.page {
	display:block;
	width:100%;
	height:fit-content;
	overflow-x:scroll;
	z-index:100;
	transform-origin:0 0;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y:hidden;
	-webkit-overflow-scrolling: touch;
	transition:all 0.25s ease-in-out;
}
.page-holder {
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:auto;
	cursor:pointer;
	transition:all 0.25s ease-in-out;
}
.page-holder img {
	height:100%;
	width:auto;
}
.overlay {
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	border:0.1em solid black;
	background-color: #666666;
	background-color: none;
	z-index:100;
	background-blend-mode: multiply;
	transition:all 0.5s ease-in-out;
}
/*.page-holder:hover .overlay {
	opacity:0.5;
}*/
header {
	position:fixed;
	top:0;
	width:100%;
	box-shadow: 0.05em 0.05em 1em #666666;
	z-index:100;
	background-color:#F2F2F2;
	padding:1%;
	height:fit-content;
	text-align:center;
}
audio {
	width:80%;
	padding:0%;
	margin:0%;
}
audio:focus {
	outline:0;
}
.view {
	position:relative;
	right:0;
	width:100%;
	background-color:#F2F2F2;
	height:74vh;
	overflow-y:scroll;
	z-index:3;
	box-shadow:-0.005em -0.005em 1em #666666;
}
#reactions, #reactions2, #reactions3 {
	width:100%;
	height:100%;
}
#reactions {
	display:inline-block;
}
#reactions .item {
	display:inline-block;
	width:29%;
	padding:2%;
	font-size:0.8em;
	vertical-align: top;
}
.new {
	animation: 0.5s fadeUp ease-in-out;
}
.item h3 {
	font-size:0.8em;
	color:#666666;
	margin:0%;
	line-height:0.5em;
}
.item p {
	padding:5%;
	background-color:#CCCCCC;
	color:#666666;
	border-radius:0.5em;
}
input {
	display:none;
}
#start-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	animation:0.5s fadeIn ease-in-out;
}
#reactions2 h2, #reactions3 h2 {
	margin-top:15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	animation:0.5s fadeIn ease-in-out;
}
.button {
	border: 0.05em solid black;
  	padding:1% 5%;
  	border-radius:2em;
  	cursor:pointer;

}
.button:hover {
	background-color:black;
	color:white;
}
.option {
	display:inline-block;
	width:fit-content;
	border:0.05em solid black;
	margin:-0.2%;
	padding:1% 5%;
}
.perspective {
	position:absolute;
	width:100%;
	text-align:center;
	left:0;
	bottom:0;
	z-index:3;
}
.perspective .option {
	padding:1% 0%;
	margin:0%;
	border:none;
	cursor:pointer;
	transition:0.5s all ease-in-out;
}
.circle-button {
	width:fit-content;
	border-radius:50%;
	background-color:#F2F2F2;
	width:2em;
	height:2em;
	border:0.05em solid black;
	padding:10%;
	margin:auto;
	transition:0.5s all ease-in-out;
}
.label {
	font-size:0.5em;
	margin:10%;
	text-align:center;
}
.perspective .option:hover {
/*	background-color:#CCCCCC;*/
	transform-origin: 50% 50%;
	transform:scale(1.2);
}
::-webkit-scrollbar {
  display:none;
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
::-webkit-scrollbar-track{
    display:none;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    display:none;
    background-color: transparent;
}
@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadeUp {
	0% {
		opacity:0;
		margin-top:5%;
	}
	100% {
		opacity:1;
		margin-top:0%;
	}
}
.filters {
	width:40%;
	margin:auto;
	display:inline-block;
}
.filters > .option {
	margin:0.5%;
	font-size:0.5em;
	padding:0.5% 1%;
	border:0.1em solid black;
	border-radius:3em;
	cursor:pointer;
}

/*reaction items*/
.endorsement{

}
.social {
	display:inline-block;
	margin-right:2%;
	margin-bottom:2%;
}
em {
	font-style:normal;
}
.social .material-icons {
	font-size:1em;
	color:#666666;
	cursor:pointer;
}
.disagree {
	transform:rotate(360deg);
	color:#CCCCCC;
}
.tag {
	display:inline-block;	
	margin:1% 3%;
	padding:0% 3%;
	color:#666666;
}
div[value=pos]{
	background-color:#FCC388;

}
div[value=neg]{
	background-color:#B6B5C9;
	color:white;

}
.tooltip {
	position:absolute;
	display:none;
	font-weight:400;
	font-size:0.8em;
	background-color:white;
	padding:1%;
	box-shadow:0em 0em 1em #666666;
	border-radius:1em;
	z-index:4;
}
/*spatial*/
#hall {
	width:100%;
	margin:auto;
	text-align:center;
	vertical-align:middle;
	padding: 5% 0%;
}
.person {
	cursor:pointer;
	background-color:#CCCCCC;
	transition:1s ease-in-out;
}
.posFade{
	animation: posFade ease-in-out;
	animation-duration:10s;
	animation-iteration-count: 2;
	background-color:#CCCCCC!important;
}
.negFade{
	animation: negFade ease-in-out;
	animation-duration:10s;
	animation-iteration-count: 2;
	background-color:#CCCCCC!important;
}
.mixedFade{
	animation: mixedFade ease-in-out;
	animation-duration:10s;
	animation-iteration-count: 2;
	background-color:#CCCCCC!important;
}
@keyframes posFade{
	0% {
		transform-origin: 50% 50%;
		transform:scale(1.2);
		background-color:#FCC388;
	}
	25% {
		transform:scale(0.8);
	}
	50% {
		transform:scale(1.2);
	}
	75% {
		transform:scale(0.8);
	}
	100% {
		transform:scale(1);
		background-color:#CCCC;
	}
}
@keyframes negFade {
	0% {
		transform-origin: 50% 50%;
		transform:scale(1.2);
		background-color:#B6B5C9;
	}
	25% {
		transform:scale(0.8);
	}
	50% {
		transform:scale(1.2);
	}
	75% {
		transform:scale(0.8);
	}
	100% {
		transform:scale(1);
		background-color:#CCCC;
	}

}
@keyframes mixedFade {
	0% {
		transform-origin: 50% 50%;
		transform:scale(1.2);
		background-color:#7FCDEE;
	}
	25% {
		transform:scale(0.8);
	}
	50% {
		transform:scale(1.2);
	}
	75% {
		transform:scale(0.8);
	}
	100% {
		transform:scale(1);
		background-color:#CCCC;
	}

}
.performers {
	width:20%;
	margin:auto;
}
.performer {
	width:2.5em;
	height:2.5em;
	border-radius:50%;
	display:inline-block;
	margin:2% 5%;
}
.audience {
	width:30%;
	margin:auto;
}
.member {
	width:2em;
	height:2em;
	background-color:#CCCCCC;
	display:inline-block;
	margin:2%;
}
.backups {
	width:20%;
	margin:auto;
}
.backup {
	width:1.5em;
	height:1.5em;
	background-color:#CCCCCC;
	transform-origin: 50% 50%;
	transform:rotate(45deg);
	display:inline-block;
	margin:3%;
}
@media screen and (max-width:767px){
	#reactions .item {
		display:block;
		width:90%;
		margin:auto;
	}
	#hall {
		padding: 20% 0%;
	}
	.audience {
		width:50%;
	}
}